<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}
</style>
</head>
<body>
    
<ul>
  <li><a class="active" href="#">Home</a></li>
  <li><a href="candidate">Registration</a></li>
  <li><a href="upload">Upload Excel</a></li>
  <li><a href="{% url 'kpi:visualization'%}">Show Visualization</a></li>
</ul>

</body>
</html>
